@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,800');
@import 'mobile';

* {
    box-sizing: border-box;
}

$primary-color: #ffba00;
$secondary-color: #000000;
$blue-color: #3454d1;
$violet-color: #73628a;


html, body {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


h2 {
    font-weight: 900;
    font-size: 24px;
}

h3 {
    font-size: 22px;
    font-weight: 800;
}

span {
    color: $primary-color;
}

i {
    color:#999999;
}

.fa-phone {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH"; 
}
// Header 


.header-site {
    height: 10vh;
    padding: 15px 40px;


    
  .menu {
    display: block;
    float: right;
    margin-right: 170px;

    .menu-nav {
        width: 100%;
        padding: 0;
    }
    
    li {
        margin: 0 10px;
        list-style: none;
        font-size: 14px;
        display: inline;


    }

    .nav-link {
        color: #999999;

        &:hover {
            color: black;
        }
    }

}

    .logo {
        padding: 15px; 
        float: left;
    }


    .shopping-cart {
        position: relative;
        padding: 12px 10px;
        float: right;
        font-size: 12x;


        .shopping-cart_link {
            font-size: 14px;
        }

        .shopping-cart_icon {
            text-align: center;
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $primary-color;
            z-index: 2;
            font-size: 10px;
            line-height: 18px;
            top: 15px;
            right: 85px;
        }
        
        i {
            color: black;
            font-size: 1.3em;

            z-index: 1;

        }

        .cart-text {
            padding-left: 20px;
            color: black;
        }
    }

}



.link {
    text-decoration: none;
    color: $secondary-color;

    &.shopping-cart_link {
        font-size: 12px;
    }

}


.clearfix::after {
    content: none;
    clear: both;
    display: table;
    overflow: hidden;
}



//First item

.item-product {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0 20px;
    justify-content: space-around;


}

.first--screen {
    height: 90vh;
    padding-bottom: 100px;
}

.mouse-box {
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    text-align: center;
    margin: auto;

    p {
        font-size: 14px;
        margin: 5px 0;
    }

}


.scroll-icon {
    z-index: 1;
    margin: auto;
    width: 10px;

    
    .mouse-shape {
        width: 10px;
        height: 17px;
        padding: 5px 2px;
        border: 1px solid #999999;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;

        .scroller {
            margin: auto;
            width: 2px;
            height: 5px;
            border-radius: 25%;
            background-color: #999999;
            animation-name: scroll;
            animation-duration: 2.2s;
            animation-timing-function: cubic-bezier(.15,.41,.69,.94);
            animation-iteration-count: infinite;
          }
      }


      @keyframes scroll {
        0% { opacity: 0; }
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0;}
    }
}




.item-product_title {
    width: 455px;
}


.item-product_info {
    width: 600px;
    padding: 30px; 
    
}


.item-product_image {
    max-width: 550px;
    min-width: 420px;


    img {
        width: 100%;
        height: auto;
    }
}


.social__link {
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    filter: contrast(50%) hue-rotate(0deg) brightness(0.8) saturate(118.5%);
    margin: 8px 0;


    &.social__facebook {
        background-image: url("../img/social/fb-icon.png");
        
    }
    
    &.social__youtube {
        background-image: url("../img/social/inst-icon.png");
    }

    &.social__instagram {
        background-image: url("../img/social/yt-icon.png");
    }

    &:hover {
        filter: contrast(50%) sepia(100%) hue-rotate(5deg) brightness(0.8) saturate(500%);
    }
}


.btn {
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    line-height: 40px;
    color: $secondary-color;
    border-radius: 16.5px;
    margin: 0.5rem;

    &.btn--details {
        border: 1px solid $secondary-color;

        &:hover {
            background-color: $secondary-color;
            color: #ffffff;
        }
    }


    &.btn--order {
        background-color: $primary-color;

        &:hover {
            background-color: #e1a400;
        }
    }

}

.btn__product1 {
    text-align: right;
}


.item-price {
    font-weight: bold;
    margin: 0.5rem; 
    font-size: 18px;   

    span {
        padding-left: 0.5rem;
    }

    .old-price {
        color: #cdcdcd;
        text-decoration: line-through;
    }

    .new-price {
        color: black;
    }
}


.price__product1 {
    text-align: right;
}



// Соц.сети главная
.social-header {
    display: flex;
    flex-direction: column;
    width: 10px;
    justify-content: center;
    align-items: center; 
    position: fixed;
    right: 20px;
    z-index: 1;

}


.item_2,
.item_4 {
    padding-left: 80px;

    .item-product_title {
        margin-left: 10px;

    }

    .item-price {
        text-align: right;
        padding-right: 60px;
    }

}

.item_3 {

    .btn__product3 {
        text-align: right;

    }

    .item-price {
        text-align: right;
        padding-right: 5px;
    }

}


.delivery {
    text-align: center;


    .delivery__title {

        font-weight: 800;
        padding: 0;
        margin: 0;
        margin-top: 35px;
    }

    .delivery__text {
        max-width: 690px;
        font-size: 14px;
        margin: 0 auto;
        padding-top: 10px;
    }


    .delivery__images {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 700px;
        display: flex;


        .image_1 {
            width: 180px;
            height: 35px;
        }

        .image_2 {
            width: 170px;
            height: auto;
        }

        .image_3 {
            width: 70px;
            height: auto;
        }

        
        .images {
            margin: 25px;
        }
    }

}


.reviews {
    text-align: center;

    .reviews_quote {
       margin-top: 38px; 
    }

    .reviews__title {
        font-size: 22px;
        font-weight: 800;
        padding: 0;
        margin: 0;
    }

    .reviews__item {
        text-align: center;
        font-size: 18px;

        .reviews__text {
            font-style: italic;
            font-weight: normal;
            margin-top: 27px;
            max-width: 605px;
            margin: auto;
            line-height: 24px;
        }

        i {
            color: #bdbdbd;
        }

    }
}


.offer {
    padding: 0 20px;
    height: 100%;
    text-align: center;
    background-color: $primary-color;
    
    .offer__title {
        font-size: 22px;
        font-weight: 800;
        padding: 0;
        margin: 0;
        padding-top: 40px;
    }

    .offer__text {
        line-height: 19px;
        padding-top: 12px;
        margin: 0 auto;
        font-size: 14px;
        max-width: 450px;
    }
    
    i {
        color: black;
    }


        
    input::-webkit-input-placeholder { color: black; }
    input::-ms-input-placeholder { color: black; }
    input::-ms-input-placeholder { color: black; }
    input::placeholder {color: black;}
}



.input-container {
    display: inline-block;
    text-align: left;


    i {
        position: relative;
        top: 5px;
        right: 6px;
    }
}


input {
    width: 180px;
    border: none;
    outline:none;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}

form {
    padding-top: 12px;
    padding-bottom: 50px;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    .input-container {
        margin: 20px 16px 0;
    }

    input {
        width: 180px;
        background-color: $primary-color;
        border-bottom: 2px solid $secondary-color;
    }
    
    .form-button {
        margin-top: 15px;
        border: 2px solid $secondary-color;

        &:hover {
            background-color: $secondary-color;
            color: #ffffff;
        }

    }
}


//Footer

.footer {
    background-color: #181818;
    color: #ffffff;
    font-size: 14px;
    
    
    .copyright {
        background: $secondary-color;
        padding: 10px 0 10px 56px;

        p {
            margin: 0px
        }
    }

}
.wrapper {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer__information {

    margin: 35px 25px;
        

    .footer__text {
        margin: 5px 0;
        width: 370px;
    }
}


.contacts {
    margin: auto 0;
    padding: 5px 20px;
    width: 350px;

    .contacts-list {

        .contacts-item {
            margin: 10px 0;


            i {
                color: #ffffff;
                padding-right: 10px;

                &:first-child {
                    padding-left: 10px;
                }
            }
        }

    }

}



.footer-link {
    padding: 15px 0 0 10px;

    .social__link {
        display: inline-block;
        filter: none;
        margin-right: 10px;
        

        &:hover {
            filter: contrast(50%) sepia(100%) hue-rotate(5deg) brightness(0.8) saturate(500%);
        }
    }
}




.footer--blue {
    background-color: $blue-color;

    .copyright {
        background-color: darken($blue-color, 10%);
    }
}


.footer--violet {
    background-color: $violet-color;

    .copyright {
        background-color: darken($violet-color, 10%);
    }
}




//page 1
.menu-btn {
    display: none;
}

.detailed-product {
    height: 90vh;
    
    i {
        order: 1;
        color: #d7d7d7;
    }

    input {
        order: 2;
        border-bottom: 2px solid #d7d7d7;
    }
    
    .form {
        padding-bottom: 5px;
    }

    .input-container {
        display: inline-flex;
        padding: 10px;


    }

    .item-price {
        text-align: right;
        width: 470px;
    }

    .form-button {
        color: #ffffff;
        margin: 10px 20px;

        &:hover {
            background-color: black;
            color: #ffffff;
        }
    }


}

.violet--product {

    span {
        color: $violet-color;
        }


    input {

        &:focus {
            border-bottom: 2px solid $violet-color;
        }

        &:focus + i {
                color: $violet-color;
        }
    }

    .form-button {
        background-color: $violet-color;
        color: #ffffff;

        &:hover {
            background-color: black;
            color: #ffffff;
        }
    }
}


.blue--product {
    span {
        color: $blue-color;
        }


    input {

        &:focus {
            border-bottom: 2px solid $blue-color;
        }

        &:focus + i {
                color: $blue-color;
        }
    }

    .form-button {
        background-color: $blue-color;
        color: #ffffff;

        &:hover {
            background-color: black;
            color: #ffffff;
        }
    }
}  


.yellow--product {
    span {
        color: $primary-color;
        }


    input {

        &:focus {
            border-bottom: 2px solid $primary-color;
        }

        &:focus + i {
                color: $primary-color;
        }
    }

    .form-button {
        background-color: $primary-color;
        color: #ffffff;

        &:hover {
            background-color: black;
            color: #ffffff;
        }
    }
}



.info {
    min-height: 460px;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    background-color: $blue-color;
    align-items: center;

    .info-block {
        max-width: 540px;
        text-align: left;
        color: #ffffff;
        margin: 30px 10px;

        .info-block__title {
            margin: 0;
            font-size: 22px;
        }

        .info-block__text {
            font-size: 14px;
            margin: 10px 0;
        }

        .video-review {
            margin: 10px 0;
            font-weight: normal;
            color: #ffffff;
            border: 1px solid #ffffff;

            i {
                color: #ffffff;
                margin-left: 15px;
                padding: 5px 0 5px 20px;
                border-left: 1px solid #ffffff;
            }

            &:hover {
                background-color: darken($blue-color, 10%);
            }
        }
    }

    .info-image {
        width: 390px;
        min-width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }
}


.info--violet {
    background-color: $violet-color;

    .info-block {
        max-width: 580px;

        .video-review {
            background-color: transparent;
            
            &:hover {
                background-color: darken($violet-color, 10%);
            }
        }

    }



    .info-image {
        padding: 0;
        align-self: flex-end;
        width: 470px;
        min-width: 400px;
        height: 100%;

        img {
            display: inline-block;
            vertical-align: bottom;
            width: 100%;
            height: auto;
        }
    }
}

.info--white {
    background-color: #ffffff;
    color: black;
    min-height: auto;
    
    .info-block {
        color: black;


        .video-review {
            background-color: $primary-color;
            color: black;
    
            &:hover {
                background-color: black;
                color: white;

                i {
                    color: white;
                    border-left: 1px solid white;
                }
            }

            i {
                color: black;
                border-left: 1px solid black;
            }
    
        }
    }

    
    .info-image {
        width: 550px;
        min-width: 200px;
    }
}

.info--grey {
    background-image: url('../img/pw-07/cat.png');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

    
    .info-block {
        color: black;


        .video-review {
            background-color: $primary-color;
            color: black;
    
            &:hover {
                background-color: black;
                color: white;

                i {
                    color: white;
                    border-left: 1px solid white;
                }
            }

            i {
                color: black;
                border-left: 1px solid black;
            }
    
        }
    }


}

.app--info {
    position: relative;
    background-color: transparent;
    background-image: url('../img/pw-07/woman-with-app.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: left;
    display: flex;
    padding-left: 8vw;
    padding-right: 8vw;
    
    .info-block {
        z-index: 2; 
    }


    .darken-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../img/pw-07/darken.png');
        background-size: cover;
    }

    a {
        display: inline-block;
        margin: 15px 10px 15px 0;
    }
}


.benefits {
    padding: 0 40px;

    .benefits__title {
        max-width: 550px;
        text-align: center;
        padding-top: 70px;
        margin: 0 auto;
    }

    .benefits-text {
        margin-top: 50px;
        display: flex;
        font-size: 14px;
        justify-content: center;
        vertical-align: middle;

        .block1 {
            margin: 10px;
            max-width: 450px;
            text-align: right;
        }

        .benefits-image {
            margin: auto 0;
            padding: 10px;
            max-width: 200px;

            img {

                width: 100%;
                height: auto;
            }
        }

        .block2 {
            text-align: left;
            margin: 10px;
            max-width: 450px;
        }

        .item {
            margin: 10px;
            display: inline-flex;
            vertical-align: middle;



            .item-text {
                display: flex;
                margin: auto 0;
                white-space: normal;
                vertical-align: middle;
            }
            
            .item-icon {
                margin: auto 0;
            }

            i {
                color: #999999;
                margin: 5px 10px;
                font-size: 20px;
            }
        }

    }
}

.download-pdf {
    margin: 55px 0;
    text-align: center;

    .link-pdf {
        display: inline-block;
        padding: 5px;
        font-size: 14px;
        color: #747474;

        &:hover {
            text-decoration: underline;
        }
    }

    i {
        display: inline-block;
        padding: 5px;
        margin-left: -10px;

        &::before {
            font-size: 12px;
        }


    }
}

.download-pdf-sm {
    display: none;
}


//Gallery


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 175px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.9); 
    text-align: center;


    .modal-content {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        padding: 0;

        .mySlides {
            padding: 0px;
            display: none;
        }
    }
}


/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }
}
  

  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev {
      left: 0;
}

  
img.hover-shadow {
    transition: 0.3s;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}



//Comments

.slideshow-container {
    padding: 0 30px;
    max-width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    a {
        height: 60px;
        margin: auto 0;
    }

    i {
        font-size: 1.5em;
    }
} 

.reviews__slides {
    display: none;
}
  
.review-prev, .review-next {
    cursor: pointer;
    padding: 16px;
    padding-bottom: 25px;
    font-size: 18px;
    transition: 0.6s ease;
}
  

.prev--blue:hover, 
.next--blue:hover {
    color: $blue-color;

    i:hover {
        color: $blue-color;
    }
}

.prev--yellow:hover, 
.next--yellow:hover {
    color: $primary-color;

    i:hover {
        color: $primary-color;
    }
}

.prev--violet:hover, 
.next--violet:hover {
    color: $violet-color;

    i:hover {
        color: $violet-color;
    }
}


.dots {
    margin-bottom: 50px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;


}

.dot--blue.active,
.dot--blue:hover {
        background-color: $blue-color;
}

.dot--yellow.active, 
.dot--yellow:hover {
        background-color: $primary-color;
}


.dot--violet.active, 
.dot--violet:hover {
        background-color: $violet-color;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

//Другие продукты



.another-products {
    padding: 0 40px 10px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 270px;
    align-items: center;
    align-content: center;
    vertical-align: middle;

    .another-products__items {
        position: relative;
        display: flex;
        vertical-align: middle;
        padding: 10px;
        border: 4px solid white;

        .fill-div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }
    }

    img {
        margin: auto;
        max-width: 135px;
        max-height: 165px;

    }

    .another-products__container {
        margin-left: 35px;
        justify-content: space-between;
        width: 190px;

        h4 {
            font-size: 14px;

        }

        p {
            font-size: 12px;
            color: #747474;
            line-height: 17px;
        }

        .another-products--price {
            color: black;
            font-weight: bold;
            font-size: 16px;
            text-align: right;
        }

    }
}

.another-products__title {
    text-align: center;
    margin: 0px;
}


.ap--yellow {

    .another-products__items:hover {
        border: 4px solid $primary-color;
    }
}

.ap--violet {

    .another-products__items:hover {
        border: 4px solid $violet-color;
    }
}

.ap--blue {
    .another-products__items:hover {
        border: 4px solid $blue-color;
    }
}



.item-quantity {
    display: flex;
    vertical-align: middle;

    .text-quantity {
        margin: auto 0;
        font-size: 14px;
        color: black;
    }
}

.input-group {
    border: solid 2px #d7d7d7;
    border-radius: 17.5px;
    width: 90px;
    height: 35px;
    margin: 5px 25px;
    padding: 0 7px;

    .btn-block {
        display: inline-flex;
        justify-content: space-between;
        line-height: 30px;

    }

    .btn-default {
        width: 15px;
        height: 20px;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 5px 2px;
        
        &:focus {
            outline:0;
        }

    }

    input {
        width: 20px;
        height: 20px;
        border: none;
        text-align: center; 
        margin: 5px 2px;  
        font-weight: bold; 
        
        &:focus {
            border: none;
        }

    }

}

.violet--quantity {
    .btn-default:active, :focus {
        border: none;

        i {
            color: $violet-color;
        }
    }
}

.yellow--quantity {
    .btn-default:active, :focus {
        border: none;

        i {
            color: $primary-color;
        }
    }
}

.blue--quantity {
    .btn-default:active, :focus {
        border: none;

        i {
            color: $blue-color;
        }
    }
}



.custom-radios {

    margin: 20px 0;

  div {
    display: inline-block;
  }


  .choose-color {
        font-size: 14px;
        margin-right: 15px;
   }

  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: flex;
        width: 20px;
        height: 20px;
        margin: -1px 4px 0 4px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
    
        i {
          color: #ffffff;
          margin: auto;
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

    &#color-1 + label span {
      background-color: #ebebeb;
    }

    &#color-2 + label span {
      background-color: #00aeef;
    }

    &#color-3 + label span {
      background-color: #f06eaa;
    }

    &#color-4 + label span {
      background-color: #ffba00;
    }

    &:checked + label span i {
      opacity: 1;
    }
  }
  
}



@media screen and (max-width: 424px) {
    .menu-nav .show {
        width: 100vw;
    }

    .menu-nav {
        width: 100%;
    }
    
}
  
  
@media screen and (min-width: 425px)  {
    .header-site .menu .menu-nav {
        width: 50%;
    }

}


@media screen and (max-width: 768px) {
    h3 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .header-site {
        justify-content: space-between;
        margin: 10px 0;
    }

    @mixin easeOut {
    transition: all 0.5s ease-out;
}

.menu-btn {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    cursor: pointer;
    margin: auto 0;
    @include easeOut;
  
    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: black;
      @include easeOut;
    }
  

    &.close {
        top: 0;
        right: 0;
      .btn-line {

        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
  
        &:nth-child(2) {
          opacity: 0;
        }
  
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
}

  .menu {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

  
    &.show {
      visibility: visible;
    }
  
    &-nav {
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 50%;
      height: 100vh;
      overflow: hidden;
    }
  
    &-nav {
      margin: 0;
      padding: 0;
      background: darken($violet-color, 5);
      list-style: none;
  
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  
  
  
    .nav-link {
      display: inline-block;
      position: relative;
      font-size: 24px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: white;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
}

    .header-site {
        display: flex;
        vertical-align: middle;

       .menu .nav-link {
            color: white;
        }

    }
    
    .header-site .logo {
        text-align: center;
        padding: 0;
        float: none;
        display: flex;
        align-self: flex-start;
        margin: 10px;


        img {
            width: 100%;
            height: auto;
        }

    }

    .header-site .shopping-cart {
        display: flex;
        float:none;
        align-self: flex-end;
        padding: 12px 0;

        &i {
            padding-right: 0;
        }
        .cart-text {
            display: none;
        }

        .shopping-cart_icon {
            right: -5px;
        }

    }


    .item-product {
        flex-wrap: wrap;
        padding-bottom: 0px;
        height: auto;

        .item-product_image {
            order: 1;
            min-width: 150px;
            margin: 10px;
        }
    }

    .item-product_info {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .item-product_title {
            font-size: 20px;
            text-align: center;
            width: auto;
            margin: 5px 0;
        }

        .item-price {
            padding-right: 0;
        }

        .buttons {
            text-align: center;


            .btn {
                display: block;
                width: 290px;
                margin: 15px 10px;

            }
        }
    }

    .mouse-box {
        display: none;
    }


    
.delivery {
    .delivery__text {
        width: 300px;
    }

    .delivery__images {
        margin: 15px auto;
        flex-wrap: wrap;
        flex-direction: column;

        .images {
            margin: 18px;
        }
    }
}


.reviews {

    .slideshow-container {
        padding: 0;
        padding-top: 25px;

        .reviews__item {


            .reviews__text {
                font-size: 15px;
                line-height: 18px;
        
            }
        
            .reviews__name {
                font-size: 15px;
            }
        }
    }



}

.wrapper  {
    flex-wrap: wrap;
    padding: 0px;

    .footer__text {
        width: auto;
    }
}

.detailed-product {


    .item-product_image {
        width: 300px;
    }

    .item-product_info {

        .item-price {
            width: auto;
            order: 1;


            .price--violet {
                background-color: $violet-color;
                border-radius: 24px;
                color: #ffffff;
                padding-right: 0.5rem;
            }


            .price--yellow {
                background-color: $primary-color;
                border-radius: 24px;
                color: #ffffff;
                padding-right: 0.5rem;
            }

            .price--blue {
                background-color: $blue-color;
                border-radius: 24px;
                color: #ffffff;
                padding-right: 0.5rem;
            }
        }

        form {
            order: 3;
            display: flex;
            flex-direction: column;
    
            input {
                width: 250px;
            }
    
            .btn {
                width: 270px;
            }
        }

        .item-quantity {
            order: 2;
            margin: 10px 0;
        }
    }


}

.info {
    flex-wrap: wrap;
    
    .info-block {
        text-align: center;
    }
}


.benefits {


.benefits-text {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    .block1 {
        order: 1;
        margin: 0;
    }

    .block2 {
        order: 2;
        margin: 0;
    }

    .benefits-image {
        order: 3;
        margin: 10px;
    }

    .item {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

    .item-icon {
        order: 1;
        display: flex;
        margin: auto;
    }

    .item-text {
        margin: auto;
        display: flex;
        order: 2;
    }
}
}
}

.download-pdf {
    display: none;
}

.download-pdf-sm {
    display: block;
    text-align: center;
    margin-bottom: 30px;


    p {
        margin: auto;
        padding-right: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .link-pdf {
        border: 2px solid black;
        border-radius: 10px;
        height: 50px;
        width: 220px;
        
        span {
            color: black;
            margin-right: 20px;
            line-height: 50px;
        }

        i {
            color: black;
            padding: 5px 0 5px 17px;
            border-left: 1px solid black;
        }

        &:hover {
            background-color: black;

            span, i {
                color: white;
            }

            i {
                border-left: 1px solid white;
            }
        }
    }


}

.wrapper {
    padding: 0 40px;
}

}

@media (min-width: 769px) and (max-width: 1023px) {

    .item-product {
        justify-content: space-between;

        .buttons {
            text-align: center;
        }
        .btn__product3 {
            text-align: center;
        }
    }
   

    .item-product_info {
        padding: 10px;
        margin: 0;
        text-align: center;
        max-width: 450px;

        .item-product_title {
            width: auto;
            margin: 0;
            margin-bottom: 10px;
        }

        .item-price {
            width: auto;
            text-align: center;
            
        }

        .item-quantity {
            justify-content: center;
        }
    }

    .footer__information {
        margin: 25px 25px 25px 0;
    }

    .contacts {
        padding: 0;
    }

    .header-site  {
        .menu {
            margin-right: 35px;
    
        }
    
    }

}




    
   
    // //   Delay each nav item slide by 0.1s
    //   @for $x from 1 through 4 {
    //     .nav-item:nth-child(#{$x}) {
    //       transition-delay: $x * 0.1s;
    //     }
    //   }





